<div class="container">
    <div class="form">
        <h1>Greetings</h1>
        <br>

        <form action="/greeting" method="POST">
            <div class="textbox">
                <div class="error">
                    {{messages.error}}
                </div>
                Name
                <input class="theName" type="text" name="name" value="" onfocus="this.value = ''">
                <span class="counter">Counter: {{timesGreeted}}</span>

                <div class="greeting">
                    {{greet}}
                </div>
            </div>

            <div class="radio">
                <label class="">
                    <input type="radio" name="language" class="languageType" value="english">
                    <span class="">English</span>
                </label>

                <label class="">
                    <input type="radio" name="language" class="languageType" value="afrikaans">
                    <span class="">Afrikaans</span>
                </label>

                <label class="">
                    <input type="radio" name="language" class="languageType" value="isixhosa">
                    <span class="">IsiXhosa</span>
                </label>
            </div>

            <button class="myButton" type="submit" name="button" value="">Greet Me</button>
            <a href="/clear" style="text-decoration: none; color: #2d545e;" class="reset">Reset DB</a>
            <br>
            <div class="greetedLink">
                <a href="/greeted">Greeted</a>
            </div>
        </form>
    </div>
</div>