<div class="container">
    <div class="form">
        <h1>Greetings</h1>

        <form action="/greeting" method="POST">
            <div class="textbox">
                <div class="error">
                    <p>{{messages.error}}</p>
                </div>
                Name
                <input class="theName" type="text" name="name" value="" onfocus="this.value = ''">
                <span class="counter">{{count}}</span>
            </div>

            <div class="radio">
                <label class="">
                    <input type="radio" name="language" class="languageType" value="english">
                    <span class="">English</span>
                </label>

                <label class="">
                    <input type="radio" name="language" class="languageType" value="afrikaans">
                    <span class="">Afrikaans</span>
                </label>

                <label class="">
                    <input type="radio" name="language" class="languageType" value="isixhosa">
                    <span class="">IsiXhosa</span>
                </label>
            </div>

            <button class="myButton" type="submit" name="button" value="">Greet Me</button>
            <button class="resetButton" name="reset" type="submit" value="">Reset</button>

            <div class="greeting">
                {{greet}}
            </div>

            <div class="greetedLink">
                <a href="/greeted">Greeted Names</a>
            </div>
        </form>
    </div>
</div>