body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2d545e;
    color: #fff;
    padding: 40px;
}
.form h1 {
    text-align: center;
    font-size: 50px;
    /* border-bottom: 3px solid; */
    margin-bottom: 20px;
    padding: 30px;
}
.textbox {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin: 15px 0;
}
.textbox input {
    border: none;
    outline: none;
    padding: 5px;
    margin: 5px;
}
.radio {
    margin: 5px;
}
.radio label {
    margin: 5px;
}
button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    background-color: #fff;
    color: #2d545e;
    float: right;
}
.greetings {
    padding: 0;
    margin: 0;
    border: 4px solid #2d545e;
    border-radius: 10%;
    color: #2d545e;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}
.greetings h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0;
}
.greetings ul {
    padding: 20px;
}
.greetings ul li {
    background-color: #2d545e;
    list-style-type: none;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.greetings ul li:hover {
    background-color: #fff;
    color: #2d545e;
    border: 2px solid #2d545e;
}
.greetings a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}